


$fuentePrincipal  :'PT Serif', serif;
$fuenteSecundaria :'Lato', sans-serif;;


$colorGeneral: #784d3c;
$blanco   : #fff; 
$negro: #000;


$telefono : 480px;
$tablet   : 788px;
$computadora : 992px;
